<p><%= @email %>さん、以下のリンクをクリックして、パスワードをリセットしてください。</p>

<p><a href="http://<%= ENV['DOMAIN_NAME']%>/users/password/edit?reset_password_token=<%=@token%>">http://<%= ENV['DOMAIN_NAME']%>/users/password/edit?reset_password_token=<%=@token%></a></p>

<p>もし心当たりがない場合、このメールは破棄してください。</p>